.chat-page-border{
    border: 3px solid gray;
    height: 50vh;
    background-color:rgb(223, 228, 226);
}
.block-style{
    border: solid gray 2px;
}


/*
@media (min-width: ) and (max-width: ) {
    .chat-page-border {
        height: ; 
    }
}


@media (min-width: ) {
    .chat-page-border {
        height: ; 
    }
}
*/